.container {
    height: 100vh;
    background: #555;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
    display: flex;
}

.fill-space {
    flex: 1 1;
}

.editor {
    margin: 1px;
}

.header {
    padding: 10px 16px;
    color: #f1f1f1;
    height: 32px;
}

body, html {
    margin: 0;
    height:100%;
}

